* {
  margin: 0;
}
.header {
  width: 100%;
  height: 44px;
  background-color: rgba(245, 245, 247, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.appleicon {
  width: 13px;
  height: 16px;
}
.headerbutton {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.section {
  width: 100%;
  height: 44px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionP {
  font-size: 14px;
}
.Hero {
  width: 100%;
  display: flex;
  position: relative;
  aspect-ratio: 2.7;
  justify-content: center;
  align-items: start;
}
.heroimg {
  position: absolute;
  z-index: -1;
  height: 100%;
}
.herodiv {
  width: 405px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.herodiv1 {
  width: 405px;
  height: 108px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.herodivP {
  color: white;
  font-size: 24px;
}
.herodivH1 {
  font-size: 52px;
  color: white;
}
.herobuttonL {
  width: 123px;
  height: 44px;
  background-color: rgba(0, 113, 227, 1);
  border-radius: 50px;
  border: none;
  color: white;
  cursor: pointer;
}
.herobuttonB {
  width: 64px;
  height: 44px;
  border-color: rgba(0, 113, 227, 1);
  border-radius: 50px;
  color: rgba(0, 113, 227, 1);
  background-color: transparent;
  cursor: pointer;
}
.Learn {
  color: black;
  background-color: white;
}
.Buy {
  border-color: white;
  color: white;
}
.gift {
  align-items: end;
}
.sixpd {
  width: 100vw;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10px;
}
.sixpd1 {
  width: 49%;
  aspect-ratio: 1.6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
}
.sixph {
  height: 100%;
  aspect-ratio: 1.6;
  position: absolute;
  z-index: -1;
}
.ipadc {
  width: 430px;
  height: 33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.sixdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.hellocolor {
  background: linear-gradient(
    90deg,
    rgba(40, 62, 161, 1) 0%,
    rgba(253, 29, 197, 1) 50%,
    rgba(253, 115, 52, 1) 79%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.apple {
  width: 27px;
  height: 32px;
}
.applediv {
  display: flex;
  gap: 10px;
}
